/*******************************************************************************
 * Themes
 ******************************************************************************/
 
:root {
  --global-bg-color: #{$white-color};
  --global-code-bg-color: #{$code-bg-color-light};
  --global-text-color: #{$black-color};
  --global-text-color-light: #{$grey-color};
  --global-theme-color: #{$color-theme};
  --global-hover-color: #{$color-theme};
  --global-footer-bg-color: #{$grey-color-dark};
  --global-footer-text-color: #{$grey-color-light};
  --global-footer-link-color: #{$white-color};
  --global-distill-app-color: #{$grey-color};
  --global-divider-color: rgba(27, 52, 107, 0.695);
  --global-card-bg-color: #{$white-color};
  --nav-bar-color: rgb(223, 223, 223);
  --scholar-badge-border-color: #bbb;
  --global-category-color: var(--global-divider-color);
  --teaching-color-separator: #2b2b2b;
  --teaching-color-primary: #5e5e5e;
  --teaching-color-secondary: #808080;

  .fa-sun {
    display : none;
  }
  .fa-moon {
    padding-left: 10px;
    padding-top: 12px;
    display : block;
  }

  .repo-img-light {
    display: block;
  }
  .repo-img-dark {
    display: none;
  }

  .arxiv-mark-light {
    display: block;
  }
  .arxiv-mark-dark {
    display: none;
  }

  .citations-badge-light {
    display: inline;
  }
  .citations-badge-dark {
    display: none;
  }

  .ssd-lab-logo-light {
    display: inline;
  }
  .ssd-lab-logo-dark {
    display: none;
  }
}

html[data-theme='dark'] {
  --global-bg-color: #{$grey-color-dark};
  --global-code-bg-color: #{$code-bg-color-dark};
  --global-text-color: #{$grey-color-light};
  --global-text-color-light: #{$grey-color-light};
  --global-theme-color: #{$cyan-color};
  --global-hover-color: #{$cyan-color};
  --global-footer-bg-color: #{$grey-color-light};
  --global-footer-text-color: #{$grey-color-dark};
  --global-footer-link-color: #{$black-color};
  --global-distill-app-color: #{$grey-color-light};
  --global-divider-color: #424246;
  --global-card-bg-color: #{$grey-900};
  --nav-bar-color: #{$grey-900};
  --scholar-badge-border-color: #4a4a4e;
  --global-category-color: #909090;
  --teaching-color-separator: var(--global-text-color);
  --teaching-color-primary: var(--global-text-color);
  --teaching-color-secondary: var(--global-text-color);

  .arxiv-mark-light {
    display: none;
  }
  .arxiv-mark-dark {
    display: block;
  }

  .citations-badge-light {
    display: none;
  }
  .citations-badge-dark {
    display: inline;
  }

  .ssd-lab-logo-light {
    display: none;
  }
  .ssd-lab-logo-dark {
    display: inline;
  }

  .fa-sun {
    padding-left: 10px;
    padding-top: 12px;
    display : block;
  }
  .fa-moon {
    display : none;
  }

  .repo-img-light {
    display: none;
  }
  .repo-img-dark {
    display: block;
  }
}
